[Unit]
Description=Qd Up Router Service
[Service]
User=root
# The configuration file application.properties should be here:

#change this to your workspace
WorkingDirectory=/home/ec2-user/raw

#path to executable.
#executable is a bash script which calls jar fileExecStart=/home/ubuntu/workspace/my-webapp
ExecStart=/home/ec2-user/raw/scripts/run.sh

SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target